/* 
	Blue Dream
	Written by Teylor Feliz  http://www.admixweb.com
*/

a,a:link,a:visited{color:#904E0E;text-decoration: none}
a:hover{color:#F4AB25;background-color: #FFECD9;text-decoration: none;}
table { 
 background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
}
caption { 
 border:1px solid #5C443A;
 font-weight:bold;
 font-size:16px;
 color:#000000;
 padding:6px 4px 8px 0px;
 text-align:center;
}
td, th {
	color:#363636;
	padding:.4em;
    text-align:left;
	font-size:16px;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 font-size:14px;
 text-align:center;
}
tbody td a { color:#363636;
 text-decoration:none;
}
tbody td a:visited { color:gray;
 text-decoration:line-through;
 text-decoration: none;
}
tbody td a:hover { text-decoration: none;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { color:#363636;text-decoration: none;
}

tbody td+td+td+td a { background-image:url('bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
 text-decoration: none;
}
tbody td+td+td+td a:visited { 
 background-image:url('bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
 text-decoration: none;
}

tbody th, td{
 text-align:left;
 vertical-align:top;
}
tfoot td { 
  background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
.question_td{background:#5C443A;color:#FFFFFF;}
.small{
	font-size:6px !important;
}
.font-color{color:#F00;}
.font-align{text-align:left;}
tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}
