@CHARSET "ISO-8859-1";

/* global reset */
body,img,p,h1,h2,h3,h4,h5,h6,fieldset,form,table,td,ul,li,pre,blockquote,code{ margin:0; padding:0; border:0; }
p,h1,h2,h3,h4,h5,h6,ul{ margin: 10px 0; }

/*
------------------------------
	elements
------------------------------
*/
body{
	font: 100% Georgia, "Times New Roman", serif;
	background-color: #ffffff;
	color: #565656;
	text-align: center;
}
h1,h2{
	font: 1.7em Plantin, "Plantin std", "Plantin", "Baskerville", Georgia, "Times New Roman", serif;
	color: #333333;
}
h1 em{ 
	color: #909E76; 
	font-style: italic;
}
h3,h4{	
	font: 1.1em Plantin, "Plantin std", "Plantin", "Baskerville", Georgia, "Times New Roman", serif;
	color: #cc6600;
}
h3{	
	text-transform: uppercase;
}
a,a:link,a:visited,a:active,a:hover{
	color: #676767;
}
code,p,dl{
	line-height: 22px;
	font-size: .8em;	
}
code{
	font-size: 11px;
	display: block;
	padding: 15px;
	background-color: #f0fEd6;
	overflow: auto;
}
input,textarea{
	border: solid 1px #444444;
}
ul{
	padding: 0 0 0 20px;
}
dt{
	font-weight: bold;
}
/*
------------------------------
	layout
------------------------------
*/
div.wrapper{
	position: relative;
	margin: 0  auto 30px auto;
	width: 850px;
	text-align: left;
}
ul.nav{
	float: right;
	list-style: none;
}
ul.nav li{
	display: inline;
	margin: 0 10px;
}
ul.nav li a{
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}
div.block{
	float: left;
	width: 425px;
	margin: 30px 0 0 0;
}
div.about{
	width: 395px;	
	padding: 0 30px 20px 0;
}
div.exlink{
	padding: 15px;
	background-color: #e0eEc6;
	margin: 0 0 30px 0;
	text-align: right;
}
div.exlink button{ 
	padding: 5px;
}
div.example{	
	position: relative;
}
div.donation input{ 
    border: none; 
}
div.clear{ clear: both; }
